<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Lista de estudiantes</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button mat-raised-button (click)="addData()" class="demo-button">
        Agregar estudiante
      </button>
    </div>
  </div>
</div>

<div class="container">
  <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" (editEmitter)="edit($event)"></app-table>
</div>
