<div class="container">
  <div style="padding-top: 174px; position: relative;">

    <h1>Login</h1>

    <div [formGroup]="group" mat-dialog-content>

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input required class="form-control" type="email" matInput [formControl]="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input readonly class="form-control" type="password" matInput [formControl]="password">
      </mat-form-field>

    </div>
    <div mat-dialog-actions>
      <button class="btn btn-primary" type="button" (click)="send()" [disabled]="group.invalid" mat-button>Ingresar</button>
    </div>

  </div>

</div>
